/* .icon-color {
	fill: #808080;
} */

.box-hover:hover {
	background-color: #E8E8E8;
}

.selected-sorting {
	background-color: #E8E8E8;
}

.selected-sorting > .MuiSvgIcon-root {
	fill: #0079D3;
}

.selected-sorting > .MuiTypography-root {
	color: #0079D3;
}

.Mui-selected.MuiTab-labelIcon {
    color: #0079D3;
}

.Mui-selected.MuiTab-textColorInherit {
	color: #0079D3;
}

.Mui-selected.MuiTab-textColorPrimary {
	color: #0079D3;
}

.MuiTab-root {
    border-right: "1px solid black";
} 

